//colores
$azul: blue;
$violeta: #9400D3;
$blanco: #FFFAF0;
$verde-claro: #20B2AA;
$verde-primavera: #00FF7F;
$negro: #000000;
$rosa: #ff00ff;
$lightcyan: #E0FFFF;
//posicion
$margen-izquierda: 50px;
