@import 'variables';//importa del documento
@import 'grid';
@import 'mixin';

//estilo global
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  margin: 20px;
  display: inline-block;
}
#logo{
 width: 50%;
}
.imagen--pandas{
  width: 200px;
  height: 200px;
}
header{
  border-bottom: 2px double blue;
  line-height: 50px;
  font-size: 30px;
}
.boton--origen {
	@include boton(8px, $verde-primavera, $azul);
}
.boton--extincion{
  @include boton(6px,$violeta, $negro);
}
.boton--restaurar{
  @include boton(7px, $verde-claro, $rosa);
}
